:root{
    --blanco: #fff;
    --orange: #F16718;
    --orangeHover: #FF9B62;
    --blue: #162542;
    --blueHover: #7B8BAD;
    --btnGris: #E8EFF2;
    --font: "Barlow", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*? UTILIDADES */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body{
    background-color: var(--blanco);
}

.header{
    margin: 2.4rem 2.3rem 0;
    background-color: teal;
}

@media (min-width: 768px){
    .header{
        margin: 4rem 3.9rem 0;
        background-color: cornflowerblue;
    }
}

@media (min-width: 1024px){
    .header{
        margin: 5rem 4rem 0;
        background-color: mediumpurple;
    }
}

@media (min-width: 1440px){
    .header{
        margin: 3rem 7rem 0;
        background-color: rgb(233, 50, 83);
    }
}

@media (min-width: 2560px){
    .header{
        margin: 5rem 10rem 0;
        background-color: #4f40f5;
    }
}

.header__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-preOrder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btnGris);
    width: 15rem;
    height: 4.8rem;
    border-radius: .8rem;
    color: var(--blue);
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font);
    line-height: 26px;
    padding: 1.4rem 1.1rem;
    transition: background-color .4s;
}

.btn-preOrder:hover{
    background-color: var(--blue);
    color: var(--btnGris);
}

.section__hero{
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3rem;
    overflow: hidden;
}

@media (min-width: 768px){
    .section__hero{
        flex-direction: row;
        align-items: center;
        padding: 3rem 0 0 4rem;
    }
}

@media (min-width: 1440px){
    .section__hero{
        display: flex;
        justify-content: space-between;
        padding: 3rem 0 0 7rem;
    }
}

.main__info{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

@media (min-width: 1440px){
    .main__info{
        width: 50rem;
        gap: 6rem;
    }
}

.main__title{
    font-size: 4.8rem;
    font-weight: 700;
    font-family: var(--font);
    color: var(--blue);
    line-height: 48px;
    text-align: left;
}

@media (min-width: 1024px){
    .main__title{
        font-size: 5.6rem;
        line-height: 56px;
    }
}

@media (min-width: 1440px){
    .main__title{
        font-size: 7rem;
        color: var(--blue);
    }
}

.main__text{
    font-family: var(--font);
    color: var(--blueHover);
    font-size: 1.6rem;
    line-height: 26px;
    text-align: left;
    font-weight: 400;
}

@media (min-width: 768px){
    .main__text{
        width: 33.9rem;
    }
}

@media (min-width: 1024px){
    .main__text{
        font-size: 1.8rem;
        line-height: 18px;
    }
}

@media (min-width: 1440px){
    .main__text{
        width: 40rem;
        font-size: 3rem;
        line-height: 25px;
        font-weight: 400;
    }
}

.btns{
    display: flex;
    gap: 2rem;
}

@media (min-width: 768px){
    .btns{
        width: 30rem;
    }
}

@media (min-width: 1440px){
    .btns{
        width: 40rem;
    }
}

.btns__order{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 4.8rem;
    background-color: var(--orange);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font);
    color: var(--blanco);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 26px;
    border-radius: .8rem;
}

.btns__order:hover{
    background-color: var(--orangeHover);
    transition: background-color .4s;
}

@media (min-width: 1440px){
    .btns__order{
        width: 18rem;
        height: 6rem;
        font-size: 1.8rem;
        line-height: 18px;
    }
}

.btns__release{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font);
    color: var(--blueHover);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 26px;
}

@media (min-width: 1440px){
    .btns__release{
        font-size: 1.8rem;
        line-height: 18px;
    }
}

.hero__img{
    width: 37.2rem;
    height: 33.1rem;
    margin: 5rem 0 0 3rem;
    border-radius: 1rem;
}

@media (min-width: 768px){
    .hero__img{
        width: 47.8rem;
        height: 42.5rem;
    }
}

@media (min-width: 1024px){
    .hero__img{
        width: 54rem;
        height: 48rem;
    }
}

@media (min-width: 1440px){
    .hero__img{
        margin: 0 0 0 20rem;
    }
}

.pattern{
    display: none;
}

@media (min-width: 1440px){
    .pattern{
        width: 25.5rem;
        height: 24rem;
        display: inline-block;
        position: relative;
        top: -12rem;
        left: 11rem;
    }
}